//Header - Menu
.header__menu {
  background-color: $color-header-nav;
  height: 44px;
  width: 44px;
  &:hover{
    background-color: $color-btn;
  }
  &--btn {
    left: 13px;
    top: 15px;
    position: absolute;
    transition: all 1s;
  }
  &:hover{
    transform: scale(1.1);
  }
}


//Common btn class (Module 1 and 2)
.btn {
  border-radius: 25.5px;
  font-size: 20px;
  font-weight: normal;
  height: 45px;
  line-height: 2.25;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
}

// Section Module 1
.btn__1 {
  border: 2px solid $color-btn;
  color: $color-btn;
  margin-top: 25px;
  width: 76px;
  &:hover {
    border-color: $color-bg-2;
    color: $color-bg-2;
  }
}

//Section Module 2
.btn__2 {
  background-color: $color-btn;
  border-radius: 25.5px;
  color: $color-white;
  margin: 25px auto;
  width: 184px;
  &:hover {
    background-color: $color-bg-2;
  }
}

// Common style buttons icons (Hero and Footer)
.btn__icon {
  background-color: white;
  border-radius: 50px;
  height: 45px;
  width: 45px;
  transition: all 1s;
  &:hover{
    transform: scale(1.5);
  }
}

// Hero 
.hero__btn--link {
  margin: 40px auto;
}
.hero__btn--icon {
  margin: 17px auto;
}

// Footer
.wrap_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -20px;
}
.icon__arrow--icon {
  padding: 12px;
}

@media all and (min-width: $screen-sm) {
  .header__menu{
    height: 70px;
    width: 70px;
    &--btn {
      width: 30px;
      left: 20px;
      top: 20px;
    }
  }
}
