//Header - Menu
.header__menu--btn {
  left: 15px;
  top: 15px;
  position: absolute;
}
// Common btn class (Module 1 and 2)
.btn {
  border-radius: 25.5px;
  font-size: 20px;
  font-weight: normal;
  height: 45px;
  line-height: 2.25;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
}

// Section Module 1
.btn__1 {
  border: 2px solid $color-btn;
  color: $color-btn;
  margin-top: 25px;
  width: 76px;
  &:hover {
    border-color: $color-bg-2;
    color: $color-bg-2;
    
  }
}

//Section Module 2
.btn__2 {
  background-color: $color-btn;
  border-radius: 25.5px;
  color: $color-white;
  margin: 25px auto;
  width: 184px;
  &:hover {
    background-color: $color-bg-2;
  }
}

// Common style buttons icons (Hero and Footer)
.btn__icon {
  background-color: white;
  border-radius: 50px;
  height: 45px;
  transition: all 1s;
  width: 45px;
  &:hover{
    transform: scale(1.5);
  }
}

// Hero 
.hero__btn--link {
  margin: 40px auto;
}
.hero__btn--icon {
  margin: 17px auto;
}

// Footer
.btn__arrow {
  left: 30%;
  position: relative;
  bottom: -15px;
  left: 48%;
  right: 52%;
  padding: 12px;
}

@media all and(min-width:$screen-sm){
  .btn__arrow {
    bottom: -36px;
  }
}

@media all and(min-width:$screen-lg){
  .btn__arrow {
    bottom: -15px;
    
  }
}