
<footer class="footer">
    <ul class="footer__nav order-2">
      <li class="footer__nav--list">
        <a class="footer__nav--link" href="https://adalab.es/">Article</a>
      </li>
      <li class="footer__nav--list">
        <a class="footer__nav--link" href="https://adalab.es/">Books</a>
      </li>
      <li class="footer__nav--list">
        <a class="footer__nav--link" href="https://adalab.es/">Events</a>
      </li>
      <li class="footer__nav--list">
        <a class="footer__nav--link" href="https://adalab.es/">Reasons</a>
      </li>
      <li class="footer__nav--list">
        <a class="footer__nav--link" href="https://adalab.es/">Tips</a>
      </li>
    </ul>

    <ul class="footer__nav order-3">
      <li class="footer__nav--list">
        <a class="footer__nav--link" href="https://adalab.es/">Twitter</a>
      </li>
      <li class="footer__nav--list">
        <a class="footer__nav--link" href="https://adalab.es/">Instagram</a>
      </li>
      <li class="footer__nav--list">
        <a class="footer__nav--link" href="https://adalab.es/"
          >Mastodon.social</a
        >
      </li>
    </ul>

    <div class="order-1">
      <small class="footer__copy">&copy; 2021</small>
      <small class="footer__copy"
        >We <i class="fa fa-heart" aria-hidden="true"></i> components</small
      >
    </div>

</footer>

<a href=""></a>
