<main>
  <section class="module__1">
    <span class="module__1--theme">Insonia tips</span>
    <h2 class="module__1--title">Looking through a window</h2>
    <p class="module__1--text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectur. Vivamus semper sodales rutrum.
    </p>
    <a class="btn" href="">Go</a>
  </section>
  <section class="module__2">
    <h2>3 reasons to Purchase</h2>
    <div class="article">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="article">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="article">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincunt.</p>
      <a href="">More reasons</a>
    </div>
  </section>
</main>
