<main>
  <section class="module">
    <span class="module__theme">Insonia tips</span>
    <h2 class="module__title">Looking through a window</h2>
    <p class="module__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectur. Vivamus semper sodales rutrum.
    </p>
    <a class="btn btn__1" href="https://adalab.es/">Go</a>
  </section>

  <section id="reasons" class="module__2">
    <h2 class="module__title grid__item-1">3 reasons to purchase</h2>
    <div class="article">
      <h3 class="article__title">Ut sed metus</h3>
      <p class="module__text">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="article">
      <h3 class="article__title">Curabitur ac erat</h3>
      <p class="module__text">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="article">
      <h3 class="article__title">Morbi dictum</h3>
      <p class="module__text">Aliquam in dolor et dolor tincunt.</p>
    </div>
    <a class="btn btn__2" href="https://adalab.es/">More reasons</a>
    </div>
  </section>
  <div class="wrap_btn">
    <a class="btn__icon btn__arrow" href="#hero">
      <img
        class="icon__arrow--icon"
        src="./assets/images/ico-arrow.svg"
        alt="Scrow icon to top"
        title="Scrow icon to top"
      />
    </a>
  </div>
</main>
