//Typograph
$text-size: 18px;

// fonts
$font-main: 'Roboto', sans-serif;
$font-second:'Roboto Slab', serif;

// colors
$color-header-nav: #0271bc;
$color-btn: #f26002;
$color-white: #ffffff;
$color-bg-1: #8ccbea;
$color-bg-2: #304268;

//media queries
$screen-sm: 768px;
$screen-lg: 1200px;