.footer {
  background-color: $color-bg-2;
  display: flex;
  height: 465px;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 15px 45px;
  text-align: center;
  &__nav {
    list-style: none;
    margin-bottom: 30px;
    text-transform: uppercase;
    &--link {
      color: $color-white;
      line-height: 1.88;
      text-decoration: none;
      &:hover {
        color: $color-btn;
      }
    }
  }
  &__copy {
    display: block;
    color: $color-white;
    font-size: 14px;
    & .fa-heart {
      color: $color-btn;
      animation: heart 1.5s ease-in-out infinite alternate;
      @keyframes heart {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.25);
        }
      }
    }
  }
}

@media all and(min-width:$screen-sm) {
  .footer {
    flex-direction: row;
    height: 240px;
    text-align: left;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  .btn__arrow {
    bottom: -800px;
    left: 46vw;
  }
}

@media all and(min-width:$screen-lg) {
  .footer {
    padding: 50px 370px 45px;
  }
  .btn__arrow {
    bottom: -820px;
    left: 48vw;
  }
}
