.footer {
  background-color: $color-bg-2;
  height: 465px;
  padding: 30px 15px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  &__nav{
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 30px;
    &--link{
      color: $color-white;
      text-decoration: none;
      line-height: 1.88;
    }
  }
  &__copy{
    display: block;
    color: $color-white;
    font-size: 14px;
  }
  .fa-heart{
    color: $color-btn;
  }
}

@media all and(min-width:$screen-sm){
  .footer{
    flex-direction: row;
    text-align: left;
    height: 240px;
  }
  .order-1{
    order: 1;
  }
  .order-2{
    order: 2;
  }
  .order-3{
    order: 3;
  }
}

@media all and(min-width:$screen-lg){
  .footer{
    padding: 30px 100px 45px;
  }

}