.footer {
  background-color: $color-bg-2;
  height: 465px;
  padding: 50px 15px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  &__nav {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 30px;
    &--link {
      color: $color-white;
      text-decoration: none;
      line-height: 1.88;
      &:hover {
        color: $color-btn;
      }
    }
  }
  &__copy {
    display: block;
    color: $color-white;
    font-size: 14px;
  }
  .fa-heart {
    color: $color-btn;
    animation: heart 1.5s ease-in-out infinite alternate;
  }
  @keyframes heart {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.25);
    }
  }
}

.btn__arrow {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: -1000px;
  left: 45vw;
}
.icon__arrow--icon {
  padding: 12px;
}

@media all and(min-width:$screen-sm) {
  .footer {
    flex-direction: row;
    text-align: left;
    height: 240px;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  .btn__arrow {
    bottom: -800px;
    left: 46vw;
  }
}

@media all and(min-width:$screen-lg) {
  .footer {
    padding: 50px 370px 45px;
  }
  .btn__arrow {
    bottom: -820px;
    left: 48vw;
  }
}
