.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  &__menu{
    width: 44px;
    height:44px;
    background-color: $color-header-nav;
    &--btn{
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }
}



