.module__2 {
  background-color: $color-bg-1;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
  padding: 30px 15px 60px;
  text-align: center;
}

.article {
  width: 184px;
  margin: 0 auto;
}

.article__title {
  font-family: $font-second;
  line-height: 1.67;
}
.article__text {
  font-weight: normal;
}

.btn__2 {
  width: 184px;
  height: 45px;
  border-radius: 25.5px;
  background-color: $color-btn;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  line-height: 2.25;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 25px auto;
}

@media all and (min-width:$screen-sm){
  .module__2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    padding: 30px 15px 60px;
  }
  .grid__item-1{
    grid-column: 1 / 4;
    padding-top: 30px;
  }
  .btn__2{
    grid-column: 1 / 4;
  }
}