.module__2 {
  background-color: $color-bg-1;
  display: flex;
  flex-direction: column;
  text-align: center;
  &-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding-top: 40px;
  }
  & .module__title {
    padding-top: 35px;
  }
  & .article {
    padding-bottom: 15px;
    margin: 0 auto;
    width: 184px;
    &__title {
      font-family: $font-second;
      font-size: 18px;
      line-height: 1.67;
      text-transform: capitalize;
    }
    &__text {
      font-weight: 100;
      line-height: 1.67;
    }
  }
}

@media all and (min-width: $screen-sm) {
  .module__2{
    height: 397px;
    height: 397px;
  }
  .module__2-grid {
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 15px 20px;
    & .module__title {
      padding-top: 5px;
    }
  } 
}

@media all and (min-width: $screen-lg) {
  .module__2 {
    column-gap: 5px;
    height: 427px;
    padding: 30px 100px 60px;
  }
  .article {
    line-height: 1.5;
    width: 350px;
  }
  .article__title {
    font-size: 32px;
  }
}
