main {
  background-color: $color-bg-1;
}

.module {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 15px 45px;
  margin: 0 auto;
  &__theme {
    color: $color-theme;
    font-family: 14px;
  }
  &__title {
    font-family: $font-second;
    font-size: 24px;
    padding-top: 5px;
    text-transform: capitalize;
  }
  &__text {
    font-weight: 100;
    line-height: 1.67;
  }
}

@media all and (min-width: $screen-sm) {
  .module {
    padding: 30px 140px 60px;
  }
  .module__title {
    font-size: 26px;
  }
  .module__text__width{
    display: inline-block;
    width: 500px;
  }
}

@media all and (min-width: $screen-lg) {
  .module {
    padding: 30px 320px 60px;
  }
  .module__theme {
    font-size: 16px;
  }
  .module__title {
    font-size: 32px;
  }
  .module__text {
    font-size: 20px;
  }
  .module__text__width{
    width: 730px;
  }
}
