.module__1{
    width: 320px;
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 15px 45px;

    &--theme{
        color: $color-bg-1;
        font-family: 14px;
        
    }
    &--title{
        font-family: $font-second; 
        font-size: 24px;
       color: pink;
        
    }
    &--text{
        line-height: 1.67;
    }
    .btn{
        width: 76px;
        height: 45px;
        border-radius: 25.5px;
        border: 2px solid $color-btn;
        color: $color-btn;
        text-align: center;
        text-decoration: none;
        line-height: 2.25;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 5px;
        margin-top: 25px;
    }
}
