.module__2 {
  background-color: $color-bg-1;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 10px 15px 35px;
  row-gap: 10px;
  text-align: center;
  & .module__title {
    padding-top: 35px;
  }
  & .article {
    padding-bottom: 15px;
    margin: 0 auto;
    width: 184px;
    &__title {
      font-family: $font-second;
      font-size: 18px;
      line-height: 1.67;
      text-transform: capitalize;
    }
    &__text {
      font-weight: 100;
      line-height: 1.67;
    }
  }
}

@media all and (min-width: $screen-sm) {
  .module__2 {
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 397px;
    padding: 50px 15px 50px;
    & .module__title {
      padding-top: 5px;
    }
  }
  .grid__item-1 {
    grid-column: 1 / 4;
    padding-top: 30px;
  }
  .btn__2 {
    grid-column: 1 / 4;
  }
}

@media all and (min-width: $screen-lg) {
  .module__2 {
    column-gap: 5px;
    height: 427px;
    padding: 30px 100px 60px;
  }
  .article {
    line-height: 1.5;
    width: 350px;
  }
  .article__title {
    font-size: 32px;
  }
}
